*,
*::before,
*::after {
   box-sizing: border-box;
}
html {
   /* задает основные цвета, размеры и шрифт страницы */
   --green: #2f9a66;
   --grey: #4d5265;
   --orang: #ff9a00;
   --white: #ffffff;
   --wrapWidth: 1920px;
   --contWidth: 1200px;
   --font: 'Montserrat', sans-serif;
}
body {
   /* background: var(--green); */
   font-family: var(--font);
   margin: 0;
}
header {
   background-color: var(--white);
   margin: 0;
   
}
main {
   background-color: var(--green);
}
.wrapper {
   max-width: var(--wrapWidth);
   margin: 0 auto;
}
.container {
   max-width: var(--contWidth);
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   padding: 0 15px ;
}
nav ul {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
}
nav a {
   text-decoration: none;
   text-transform: uppercase;
   color: var(--grey);
   display: block;
   font-weight: bold;
   padding: 56px 23px;
   font-size: 18px;
   transition: .3s;
}
nav a:hover {
   color: var(--white);
   background: rgba(60, 139, 64, 0.7) ;
}
header .container {
   align-items: center;
}
.logo {
   text-decoration: none;
   text-transform: none;
   color: var(--grey);
   font-weight: bold;
   font-size: 28px;
   display: block;
   padding: 12px 21px;
   /* border: 5px solid #da781d; */
   text-shadow: 0px 1px 3px var(--grey) ;
}
.mini-menu {
   display: none;
}
.promo {
   min-height: 650px;
   background-color: var(--green);
}
.promo-contaier {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: inherit;
   text-align: center;

}
.promo-title {
   margin: 0;
   color: var(--white);
   text-transform: none;
   text-shadow: 0px 1px 4px black ;
   font-size: 70px;
}

.promo-text {
   color: var(--white);
   max-width: 900px;
   margin: 10px auto 100px;
   font-size: 22px;
   line-height: 38px;
   font-weight: bold;
   text-shadow: 0px 1px 4px black ;

}
.problem {
   padding: 100px 0 70px;
   background: var(--green);
}
.section-title {
   text-align: left;
   padding: 0 50px 0;
   text-transform: uppercase;
   color: var(--grey);
  font-size: 40px;
  font-weight: bolt;
  margin: 0;
  position: relative;

}
.prob-container {
   flex-wrap: wrap;
   margin-top: 60px;
}
.prob-item {
   width: 61%;
   display: flex;
   align-items: flex-start;
   margin-bottom: 50px;
}
.prob-img {
   width: 30%;
   margin-right: 30px;
   margin-left: 50px;
   border-inline: 3px solid var(--grey);
   border-radius: 50%;
}
.prob-text {
   width: 280px;
}
.prob-text p {
   margin: 14px 20px 0 25px;
   font-size: 20px;
   color: var(--white);
   line-height: 25px;
}

.prob-number {
   font-size: 100px;
   color: #ffffff;
}